<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.complete">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".CompassFlashCard"
            android:exported="true" />
        <activity
            android:name=".ListHard"
            android:exported="true" />
        <activity
            android:name=".SelectingHard"
            android:exported="true" />
        <activity
            android:name=".Hard"
            android:exported="true" />
        <activity
            android:name=".InCero"
            android:exported="true" />
        <activity
            android:name=".MultiChoice"
            android:exported="true" />
        <activity
            android:name=".CompassListen"
            android:exported="true" />
        <activity
            android:name=".CompassPublishing"
            android:exported="true" />
        <activity android:name=".Info" />
        <activity android:name=".Rellenar" />
        <activity android:name=".Hanged" />
        <activity android:name=".Uncramble" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>